version: '3.8'

services:
  backend:
    image: wird_back:prod
    command: ./start-server.sh production
    volumes:
      - /var/www/html/wird_app/static:/home/app/web/staticfiles
      - /var/www/html/wird_app/media:/home/app/web/mediafiles
    ports:
      - "8200:8000"
    env_file:
      - backend_vars.env
    depends_on:
      - db
      - redis
    networks:
      - network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 10s

  db:
    image: postgres:13.0-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/
    env_file:
      - db_vars.env
    networks:
      - network
    restart: unless-stopped
    shm_size: 256mb

  redis:
    image: redis:7.0.2-alpine
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    networks:
      - network
    restart: unless-stopped

volumes:
  db_data:

networks:
  network:
    driver: bridge