version: '3.8'

services:
  backend:
    image: wird_back:latest
    command: ./start-server.sh development
    volumes:
      - /var/www/html/wird_dev/static:/home/app/web/staticfiles
      - /var/www/html/wird_dev/media:/home/app/web/mediafiles
      - ./firebase-credentials.json:/home/app/web/firebase-credentials.json:ro
    ports:
      - "8300:8000"
    env_file:
      - backend_dev_vars.env
    depends_on:
      - db
      - redis
    networks:
      - network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health/" ]
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 10s

  qcluster:
    image: wird_back:prod
    command: python manage.py qcluster
    volumes:
      - ./firebase-credentials.json:/home/app/web/firebase-credentials.json:ro
    env_file:
      - backend_vars.env
    depends_on:
      - db
      - redis
    networks:
      - network
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/
    env_file:
      - db_dev_vars.env
    networks:
      - network
    restart: unless-stopped

  redis:
    image: redis:7.0.2-alpine
    command: redis-server --maxmemory 128mb --maxmemory-policy allkeys-lru
    networks:
      - network
    restart: unless-stopped

volumes:
  db_data:

networks:
  network:
    driver: bridge