asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1.4
django-cors-headers==3.13.0
django-filter==22.1
django-permissions-policy==4.14.0
django-resized==1.0.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
hijri-converter==2.2.4
numpy==1.23.5
pandas==1.5.2
Pillow==9.3.0
PyJWT==2.6.0
python-dateutil==2.8.2
pytz==2022.6
rest-condition==1.0.3
six==1.16.0
sqlparse==0.4.3
whitenoise==6.2.0
